*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #0c0c0c;
  text-align: center;
}

a{
  text-decoration: none;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 30px;
  margin: 30px 0;
  padding:0.3em 0;
  display: block;
  cursor: pointer;
}
.container{
text-align: center;
  margin-top: 300px;

}
.home{
  width: 100px;
  margin: 20px auto;
}
.about{
  width: 105px;
  margin:20px auto;
}
.contact{
  width: 143px;
  margin: 20px auto;
}
.faq{
  width: 65px;
  margin: 20px auto;
}


 a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 35px;
  background: red;
  transition: all 0.5s ease;
}

 a::before{

  left: 0;
}

a:hover::before{


width: 200%;
transform: scaleX(0);

}
 a::after{
  content: "";
  position: absolute;
  transform: translateY(-5px);
  width: 0;
  height: 4px;
  background: red;
  transition: all 0.35s ease;
  transition-delay: 0.35s;
}

 a::after{
   bottom: 0;
  right: 0;

}

a:hover::after{


width: 100%;

}


/* a::after{
  content: "";
  position: absolute;

  transform: translateX(-85%) translateY(400%);
  width: 1%;
  height: 1%;
  background: red;
  transition: all 0.35s ease;
  transition-delay: 0.3s;



}

a:hover::after{
  width: 10%;
  transform: translateX(-100px);

} */
